body, html {
    height: 500%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("use.jpg");
  
    /* Full height */
    height: 500%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sizer{
    margin-left: auto;
    margin-right: auto;
      width:200px;
      height:200px;
  }